
.top-bar {
    background: #2579a9;
    color: #fff;
    font-size: 2rem;
    padding: 10px 0;
    margin-bottom: 20px;
}

.top-bar .contact-info {
    margin-right: 20px;
}

.top-bar ul {
    margin-bottom: 0;
}

.top-bar ul.social-custom {
    margin-left: 20px;
}
.top-bar ul {
    margin-bottom: 0;
}

.nav li a:hover {
    color: #000000;
    text-decoration: underline;
}

.nav li a {
    color: #fff;
}